/marytreat/secret.py
/fhpicustomersupportstories-2023-03-27.csv
/fhpiproduct-2023-03-16.csv
/venv/
/misc/
/.idea/
/logs/
# Nuitka artifacts
marytreat.cmd
marytreat.bat
marytreat.exe
marytreat.build
marytreat.dist
/marytreat/scripts/scitex.py
