/__pycache__/
/venv/
/.idea/
/logs/
*.csv
*.txt
*.xlsx
# Created by the installer based on user directory location
marytreat.bat
# Looks confidential
/marytreat/scripts/scitex.py
/marytreat/scripts/step1.py
/marytreat/secret.py
